<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wifi Simulator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
 

<div class="container-fluid text-center">   

  <div class="row content">
    
    <div class="col-sm-2" style="height: fit-content; background-color: rgb(190, 194, 194);">
      
    
      <div class="slidecontainer" style="padding-bottom: 30px; height: 700px;">

      <div class="panel-group" id="accordion" style="height: 100%;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">Packet size</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <p id="sz1">PG1: </p><input type="range" min="10" max="500" value="100" class="slider" id="size1" onmouseup="mouseUp()"oninput="updateLabel()">
              <p id="sz2">PG2:</p><input type="range" min="10" max="500" value="100" class="slider" id="size2" onmouseup="mouseUp()"oninput="updateLabel()">
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"  href="#collapse2">Delay</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <p id="de1">PG1:</p>
              <input type="range" min="1" max="5000" value="1" class="slider" id="delay1" onmouseup="mouseUp()"oninput="updateLabel()">
              <p id="de2">PG2:</p><input type="range" min="1" max="5000" value="1" class="slider" id="delay2" onmouseup="mouseUp()"oninput="updateLabel()">
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"  href="#collapse3">Total Players</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <p id="tp1">PG1:</p><input type="range" min="1" max="20" value="2" class="slider" id="players1" onmouseup="mouseUp()" oninput="updateLabel()">
              <p id="tp2">PG2:</p><input type="range" min="1" max="20" value="2" class="slider" id="players2" onmouseup="mouseUp()"oninput="updateLabel()">
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"  href="#collapse4">Min Range</a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <p id="mr1">PG1:</p><input type="range" min="15" max="100" value="15" class="slider" id="minR1" onmouseup="mouseUp()"oninput="updateLabel()">
              <p id="mr2">PG2:</p><input type="range" min="15" max="100" value="15" class="slider" id="minR2" onmouseup="mouseUp()"oninput="updateLabel()">
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"  href="#collapse5">Max Range</a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
              <p id="mx1">PG1:</p><input type="range" min="1000" max="1048" value="1024" class="slider" id="maxR1" onmouseup="mouseUp()"oninput="updateLabel()">
              <p id="mx2">PG2:</p><input type="range" min="1000" max="1048" value="1024" class="slider" id="maxR2" onmouseup="mouseUp()"oninput="updateLabel()">
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"  href="#collapse6">Pairs</a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
              <p id="prs">pairs:</p><input type="range" min="0" max="2" value="1" class="slider" id="pairs" onmouseup="mouseUp()"oninput="updateLabel()">
            </div>
          </div>
        </div>
        <br>
        <button id="submit" onclick="click()">Submit</button>

      </div> 
      </div>

      <script type="text/javascript">
      function updateLabel(){
      document.getElementById("sz1").innerHTML = "PG1: " + document.getElementById("size1").value;
      document.getElementById("sz2").innerHTML = "PG2: " + document.getElementById("size2").value;
      document.getElementById("de1").innerHTML = "PG1: " + document.getElementById("delay1").value;
      document.getElementById("de2").innerHTML = "PG2: " + document.getElementById("delay2").value;
      document.getElementById("tp1").innerHTML = "PG1: " + document.getElementById("players1").value;
      document.getElementById("tp2").innerHTML = "PG2: " + document.getElementById("players2").value;
      document.getElementById("mr1").innerHTML = "PG1: " + document.getElementById("minR1").value;
      document.getElementById("mr2").innerHTML = "PG2: " + document.getElementById("minR2").value;
      document.getElementById("mx1").innerHTML = "PG1: " + document.getElementById("maxR1").value;
      document.getElementById("mx2").innerHTML = "PG2: " + document.getElementById("maxR2").value;
      document.getElementById("prs").innerHTML = "PG2: " + document.getElementById("pairs").value;




    }
      updateLabel();

      function getJSON(){
        d = {
      "size1":document.getElementById("size1").value,
      "size2":document.getElementById("size2").value,
      "delay1":document.getElementById("delay1").value,
      "delay2":document.getElementById("delay2").value,
      "players1":document.getElementById("players1").value,
      "players2":document.getElementById("players2").value,
      "minR1":document.getElementById("minR1").value,
      "minR2":document.getElementById("minR2").value,
      "maxR1":document.getElementById("maxR1").value,
      "maxR2":document.getElementById("maxR2").value,
      "pairs":document.getElementById("pairs").value
        }
        console.log(d)
        return d
      }
      </script>
  


    </div>

    <div class="col-sm-8 text-left"> 
      <h1 id = 'out'>Welcome</h1>
      <div class="container">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
  
</div>



<footer class="container-fluid text-center">
  <p>Github: <a href="https://github.com/nathanielCherian" style="color: white;">@nathanielCherian</a></p>
</footer>

<script>
  /*
         var sliders = document.getElementsByClassName('slider');
          var out = document.getElementById('out')
          out.innerHTML = document.getElementById('size1').value;

          function mouseUp(){
            out.innerHTML = "mouseup";



          } */
	      

</script>

<script type="text/javascript">
/*
  let myChart = document.getElementById('myChart').getContext('2d');

  // Global Options
  Chart.defaults.global.defaultFontFamily = 'Lato';
  Chart.defaults.global.defaultFontSize = 18;
  Chart.defaults.global.defaultFontColor = '#777';

  let massPopChart = new Chart(myChart, {
    type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
    data:{
      labels:['Method 1', 'Method 2', 'Method 2'],
      datasets:[{
        label:'P1.paired',
        data:[1,2,3,4

        ],
        //backgroundColor:'green',
        backgroundColor:[
          'rgba(255, 99, 132, 0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
      },
      {
        label:'P1.unpaired',
        data:[1,2,3,4

        ],
        //backgroundColor:'green',
        backgroundColor:[
        'red','green','blue'
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
      },
      {
        label:'P2.paired',
        data:[1,2,3,4],
        //backgroundColor:'green',
        backgroundColor:[
          'rgba(255, 99, 132, 0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
      },
      {
        label:'P2.unpaired',
        data:[1,2,3,4],
        //backgroundColor:'green',
        backgroundColor:[
        'red','green','blue'
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
      }
      ]
    },

    options:{
      title:{
        display:true,
        text:'Average moves for every player',
        fontSize:25
      },
      legend:{
        display:true,
        position:'right',
        labels:{
          fontColor:'#000'
        }
      },
      layout:{
        padding:{
          left:50,
          right:0,
          bottom:0,
          top:0
        }
      },
      tooltips:{
        enabled:true
      },
      scales: {
          yAxes: [{
              ticks: {
                beginAtZero:true
              }
          }]
      }
    }
  });
*/
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
  var socket = io.connect('http://192.168.1.12:5000/');

  var sliders = document.getElementsByClassName('slider');
  var out = document.getElementById('out')
  out.innerHTML = document.getElementById('size1').value;

  let myChart = document.getElementById('myChart').getContext('2d');



  socket.on( 'connect', function() {
    socket.emit( 'my event', getJSON())


  } )

  var data1 = [1,2]
  var data2 = [2,2]
  var data3 = [3,3]
  var data4 = [4,5]

  function mouseUp(){

          }

  document.getElementById("submit").addEventListener("click", click)
  function click(){
    out.innerHTML = "click";
    socket.emit( 'my event', getJSON() )
  }



  socket.on( 'my response', function( msg ) {
    console.log( msg )
    console.log(msg.set1)
    console.log( data1)
    
    data1 = msg.set1.slice()
    console.log( data1)

    data2 = msg.set2.slice()
    data3 = msg.set3.slice()
    data4 = msg.set4.slice()


Chart.defaults.global.defaultFontFamily = 'Lato';
Chart.defaults.global.defaultFontSize = 18;
Chart.defaults.global.defaultFontColor = '#777';

let massPopChart = new Chart(myChart, {
  type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
  data:{
    labels:['Method 1', 'Method 2', 'Method 2'],
    datasets:[{
      label:'P1.paired',
      data:data1,
      //backgroundColor:'green',
      backgroundColor:[
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
      ],
      borderWidth:1,
      borderColor:'#777',
      hoverBorderWidth:3,
      hoverBorderColor:'#000'
    },
    {
      label:'P1.unpaired',
      data:data2,
      //backgroundColor:'green',
      backgroundColor:[
      'red','green','blue'
      ],
      borderWidth:1,
      borderColor:'#777',
      hoverBorderWidth:3,
      hoverBorderColor:'#000'
    },
    {
      label:'P2.paired',
      data:data3,
      //backgroundColor:'green',
      backgroundColor:[
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
      ],
      borderWidth:1,
      borderColor:'#777',
      hoverBorderWidth:3,
      hoverBorderColor:'#000'
    },
    {
      label:'P2.unpaired',
      data:data4,
      //backgroundColor:'green',
      backgroundColor:[
      'red','green','blue'
      ],
      borderWidth:1,
      borderColor:'#777',
      hoverBorderWidth:3,
      hoverBorderColor:'#000'
    }
    ]
  },

  options:{
    title:{
      display:true,
      text:'Average moves for every player',
      fontSize:25
    },
    legend:{
      display:true,
      position:'right',
      labels:{
        fontColor:'#000'
      }
    },
    layout:{
      padding:{
        left:50,
        right:0,
        bottom:0,
        top:0
      }
    },
    tooltips:{
      enabled:true
    },
    scales: {
        yAxes: [{
            ticks: {
              beginAtZero:true
            }
        }]
    }
  }
});

  })


// Global Options


</script>


</body>


</html>
